.selected {
  background-color: #CFD8DC !important;
  background-color: rgb(167, 176, 180) !important;
  color: white;
}
.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
}
.todos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .5em;
  height: 1.6em;
  border-radius: 4px;
}
.todos li:hover {
  color: #c3002f;
  color: rgb(221, 0, 49);
  background-color: #DDD;
  left: .1em;
}
.todos li.selected:hover {
  /*background-color: #BBD8DC !important;*/
  color: white;
}
.todos .text {
  position: relative;
  top: -3px;
}
.todos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #c3002f;
  background-color: #c3002f;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button {
  font-family: Arial;
  background-color: #c3002f;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
  color: #c3002f;
}
.error {color:red;}
button.delete-button{
  float:right;
  background-color: #606060 !important;
  background-color: rgb(195, 0, 47) !important;
  color:white;
}

.newTask{
  color: #FFFFFF;
}
