<br>
<h2>T A S K S</h2>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addTodo()">N E W  T A S K</button>
<div *ngIf="addingTodo">
  <app-add-todo-item (close)="close($event)"></app-add-todo-item>
</div>

<br><br>

<div>
  <ul class="todos">
    <li *ngFor="let todo of todos" (click)="onSelect(todo)" [class.selected]="todo === selectedTodo">
      <app-todo-item [todo]="todo"></app-todo-item>
      <button class="delete-button" (click)="borrarItem(todo, $event)">D E L E T E</button>
    </li>
  </ul>
</div>


<div *ngIf="selectedTodo">
  <button (click)="goDetail()">D E T A I L S</button>
</div>
