h1 {
  font-size: 1.2em;
  color: #999;
  color: #555;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #c3002f;
}
nav a:hover {
  color: #dd0031;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #dd0031;
}
.header-bar {
  background-color: rgb(195, 0, 47);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo{
  font-style: italic;
  color: rgb(195, 0, 47);
}
