<br>
  <div>
    <input [(ngModel)]="todo.todoTxt" placeholder="new task"/>
  </div>
  <button (click)="goBack()">B A C K</button>
  <button (click)="saveTodo()">S A V E</button>
  <button (click)="resetTodo()">C A N C E L</button>
