<div *ngIf="todo">
  <h2>D E T A I L S</h2>
  <div>
    <label>Task: </label>
    <input [(ngModel)]="todo.todoTxt" placeholder="task"/>
  </div>
  <button (click)="saveTodo()">S A V E</button>
  <button (click)="resetDetail()">C A N C E L</button>
  <button (click)="borrarItem(todo, $event)">D E L E T E</button>
</div>
